@charset "UTF-8";
body {
  background-color: #F8F2F0;
  background-image: url(/images/3003-mönster.jpg);
  background-size: 20%;
}

header {
  width: 100%;
  height: 70px;
  background-color: #F8F2F0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.fa-solid {
  color: #AD6C5A;
  font-size: 30px;
  transform: translateX(17px);
  width: 50px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav {
  display: none;
}

.checkbox {
  position: relative;
  top: -40px;
  left: 35px;
  align-self: flex-start;
  cursor: pointer;
  visibility: hidden;
  z-index: 2;
}

.open:checked + .nav {
  display: block;
}

.nav {
  justify-self: flex-end;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.nav::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url(/images/pexels-gradienta-7130557.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nav__list {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7%;
}
.nav__item {
  min-width: 200px;
  width: 50%;
  height: 62px;
  background-color: #F8F2F0;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link {
  width: 70px;
  height: 50px;
  font-family: "Yaldevi", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.075em;
  text-align: center;
  text-decoration: none;
  color: #273020;
}

@media screen and (min-width: 700px) {
  .nav__list {
    gap: 10%;
  }
}